extends layout

block content
  if cartFlash != ''
    .alert.alert-success(role='alert')
      != cartFlash
  block body
    nav.navbar.navbar-expand.navbar-light.bg-light
      a.navbar-brand Sklepik Here
        ul.navbar-nav.mr-auto
          ui.nav-item
            a.nav-link.active(href='/') Home
          ui.nav-item
            a.nav-link(href='/cart') Koszyk
          if id === -1
            ui.nav-item
              a.nav-link(href='/orders') Zamówienia
            ui.nav-item
              a.nav-link(href='/users') Użytkownicy
        ul.navbar-nav.form-inline
          form.form-inline.my-2(action='/search' method='POST')
            input.form-control(type='search' placeholder='Szukaj' aria-label='search' name='searchQuery')
            button.btn.btn-outline-primary.my-2.my-sm-0(type='submit') Szukaj
          if username
            li.nav-item
              a Witaj #{username}
            li.nav-item
              a.nav-link(href='/logout') Logout
          else
            li.nav-item
              a.nav-link(href='/login') Login
            li.nav-item
              a.nav-link(href='/register') Register


    .container-fluid
      if id === -1
        form(type='hidden' method='GET' action='/addProduct')
          button.btn.btn-primary(type='submit') Dodaj produkt
      .col-auto
        .row
          each item in products
            .col-xs-8.col-sm-8.col-md-8.col-lg-4.col-xl-3
              form(method='POST' action='/cart')
                .card.h-100
                  img.card-img-top(src='' +item.img alt='')
                  .card-body
                    h4.card-title
                      a #{item.name}
                    h5 #{item.price} KK
                    p.card-text
                      | #{item.description}
                  .card-footer
                    input(type='hidden' name='itemId' value=item.id)
                    button.btn.btn-secondary(type='submit') Dodaj do koszyka