extends layout

block content
  if basketInfo != ''
    .alert.alert-success(role='alert')
      != basketInfo
  block body
    nav.navbar.navbar-expand.navbar-light.bg-light
      a.navbar-brand Sklepik Here
        ul.navbar-nav.mr-auto
          ui.nav-item
            a.nav-link.active(href='/') Home
          ui.nav-item
            a.nav-link(href='/basket') Koszyk
          if username === 'admin'
            ui.nav-item
              a.nav-link(href='/orders') Zamówienia
            ui.nav-item
              a.nav-link(href='/users') Użytkownicy
        ul.navbar-nav.form-inline
          if username
            li.nav-item
              a Witaj #{username}
            li.nav-item
              a.nav-link(href='/logout') Logout
          else
            li.nav-item
              a.nav-link(href='/login') Login
            li.nav-item
              a.nav-link(href='/register') Register

    .container-fluid
      .col-auto
        .row.justify-content-center
          each item in products
            .col-xs-8.col-sm-8.col-md-8.col-lg-4.col-xl-3
              form(method='POST' action='/basket')
                .card.h-100
                  img.card-img-top(src='' +item.img alt='')
                  .card-body
                    h4.card-title
                      a #{item.name}
                    h5 #{item.price} KK
                    p.card-text
                      | #{item.description}
                  .card-footer
                    input(type='hidden' name='itemId' value=item.id)
                    button.btn.btn-secondary(type='submit') Dodaj do koszyka